<div class="col-12">
  <h2 class="text-secondary">Active students</h2>
</div>

<div class="col-12">
  <app-advanced-table-search [(filter)]="filter" [searchState]="'table2'" [collapsed]="true" [showMore]="false" [table]="table">
  </app-advanced-table-search>
</div>

<div class="col-12">
  <div class="alert mt-2 border-gray-200 alert-info alert-dismissible fade show" role="alert" *ngIf="queryDescription">
    <strong [translate]="'QueryBuilder.QueryDescriptionTitle'"></strong> {{queryDescription}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
      <button *ngIf="table.selected && table.selected.length" class="text-danger btn btn-default text-decoration-none mr-2"
        href="javascript:void(0)" href="javascript:void(0)">
        <span class="mr-1">-</span><span [translate]="'Tables.RemoveItem'"></span>
      </button>
      <button class="text-indigo btn btn-default text-decoration-none mr-2" href="javascript:void(0)">
        <span class="mr-1">+</span><span [translate]="'Tables.AddItem'"></span>
      </button>
      <button class="text-indigo btn btn-default text-decoration-none universis-btn-export mr-2" href="javascript:void(0)">
       <i class="far fa-file-excel mr-2"></i><span [translate]="'Export'"></span>
      </button>
      <button class="text-indigo text-decoration-none btn btn-default" (click)="showBuilder(builderTemplate)">
        <i class="fas fa-search mr-2"></i><span [translate]="'AdvancedQuery'"></span>
       </button>
    </table-simple-header-tools>
  </app-table-simple-header>
  <ng-template #builderTemplate>
    <universis-query-builder-container #builder [includeProperties]="[
      'person/gender',
      'inscriptionYear',
      'inscriptionPeriod',
      'studentStatus',
      'category'
    ]" 
  [entityType]="'Student'" [(query)]="query" (apply)="applyQuery(builder)" (close)="closeBuilder(builder)" ></universis-query-builder-container>
    <!-- <div>
      <universis-query-builder #builder [includeProperties]="[
      'person/gender',
      'inscriptionYear',
      'inscriptionPeriod',
      'studentStatus',
      'category'
    ]" [entityType]="'Student'" [(query)]="query" ></universis-query-builder>
    </div>
    <div class="d-flex justify-content-start border-top border-gray-100 pt-4 mx-4">
        <button (click)="applyQuery()"  type="button" class="btn btn-theme mr-2" [translate]="'QueryBuilder.Apply'"></button>
        <button (click)="closeBuilder()" type="button" class="btn btn-light" [translate]="'QueryBuilder.Close'"></button>
    </div> -->
  </ng-template>
  <app-advanced-table #table [configSrc]="'/assets/tables/table2.config.json'"></app-advanced-table>
</div>
